@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  display: flex;
  min-height: 100vh;
  animation: fadein 2.5s;
}
@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

[data-theme='light']{
  --body-background : white
  --title : black
  --primary : blue
}
[data-theme='dark']{
  --body-background : rgb(52 , 52 ,52)
  --title : white
  --primary : rgb(97 , 97 , 255)
}
